<div id="results" class="row">
  <div class="col-md-8" style="padding: 0;">
    <form>
      <table id="league-table" class="styled-table">
        <thead>
        <tr>
          <th colspan="7" style="text-align: center;">Свойдная табица</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Команда</td>
          <td>PTS</td>
          <td>P</td>
          <td>W</td>
          <td>D</td>
          <td>L</td>
          <td>GD</td>
        </tr>
        {% for team in teams %}
          <tr>
            <td>{{ team.name }}</td>
            <td>Очки</td>
            <td>Игры</td>
            <td>Выигрыши</td>
            <td>Ничия</td>
            <td>Проигрыш</td>
            <td>Разница мячей</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      <button id="play-all-matches">Проиграть все матчи</button>
      <button id="simulate-week">Следующая неделя</button>
    </form>
  </div>
  <div class="col-md-4" style="padding: 0;">
    <form id="edit-results-form">
      <table class="styled-table">
        <thead>
        <tr>
          <th colspan="4">Результаты матчей</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td colspan="4">Результат игр на неделе</td>
        </tr>
        <tr>
          <td>Команда 1</td>
          <td><input type="number" name="" value="{{ match.score1 ?? 3}}" style="width: 70px;"></td>
          <td><input type="number" name="" value="{{ match.score2 ?? 2}}" style="width: 70px;"></td>
          <td>команда 2</td>
        </tr>
        </tbody>
      </table>
    </form>
  </div>
</div>
<div class="col-md-4">
  <table class="prediction-table">
    <thead>
    <tr>
      <th style="font-size: 12px; padding: 5px">Предсказания победителя после недели</th>
    </tr>
    </thead>
  </table>
</div>
